In [1]:
# time to rev up those fryers and import those necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler # in case we need to scale numeric data
from sklearn.metrics import mean_squared_error, r2_score # for evaluating model performance

In [2]:
# reading the file out
file_path = "C:/Users/stanl/Downloads/serie_a_2024_25_first_15_matches.csv"
df = pd.read_csv(file_path)
df.head()

,Team,Matches_Played,Wins,Draws,Losses,Goals_Scored,Goals_Conceded,xG,xGA,Goal_Difference,Points,Form_Score
0,Napoli,15,9,2,4,16,19,20.93,21.83,-3,29,8
1,Inter,15,6,4,2,21,13,18.31,15.49,8,22,11
2,Juventus,15,7,5,6,17,23,15.31,21.22,-6,26,7
3,AC Milan,15,9,1,4,24,25,23.47,17.66,-1,28,10
4,Roma,15,5,4,0,12,24,22.90,29.43,-12,19,6

In [3]:
# checking for missing data
missing_entries = df.isnull().sum()
missing_entries

Team               0
Matches_Played     0
Wins               0
Draws              0
Losses             0
Goals_Scored       0
Goals_Conceded     0
xG                 0
xGA                0
Goal_Difference    0
Points             0
Form_Score         0
dtype: int64

In [4]:
# ok now that it's established there is no missing data, i'll edit the csv file programatically to be more accurate
# Update Atalanta's Wins
df.loc[df["Team"] == "Atalanta", "Wins"] = 11
df.loc[df["Team"] == "Atalanta", "Draws"] = 1
df.loc[df["Team"] == "Atalanta", "Losses"] = 3

# Recalculate Points for Atalanta (using 3 points per win + 1 point per draw)
df.loc[df["Team"] == "Atalanta", "Points"] = (
    df.loc[df["Team"] == "Atalanta", "Wins"] * 3 +
    df.loc[df["Team"] == "Atalanta", "Draws"]
)

In [12]:
df.head(10)

,Team,Matches_Played,Wins,Draws,Losses,Goals_Scored,Goals_Conceded,xG,xGA,Goal_Difference,Points,Form_Score
0,Napoli,15,9,2,4,16,19,20.93,21.83,-3,29,8
1,Inter,15,6,4,2,21,13,18.31,15.49,8,22,11
2,Juventus,15,7,5,6,17,23,15.31,21.22,-6,26,7
3,AC Milan,15,9,1,4,24,25,23.47,17.66,-1,28,10
4,Roma,15,5,4,0,12,24,22.90,29.43,-12,19,6
5,Lazio,15,7,2,6,23,17,20.87,26.98,6,23,14
6,Atalanta,15,11,1,3,26,23,15.28,24.43,3,34,13
7,Fiorentina,15,9,4,3,13,32,18.98,14.72,-19,31,9
8,Torino,15,4,1,0,27,34,29.23,15.12,-7,13,10
9,Bologna,15,5,1,3,17,17,30.80,10.81,0,16,8